<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] -- LuzFaltex</title>
    <link rel="stylesheet" href="assets/css/luzfaltex.theme.css" asp-append-version="true">

    <script src="https://kit.fontawesome.com/f1d004b53d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="layoutContainer">
                <a class="logo" href="@ExecutionContext.GetLink("index")">
                    <img src="assets/img/Logo Orange.png" alt="LuzFaltex" loading="lazy">
                    <h2>&nbsp;LuzFaltex</h2>
                </a>
            </div>
        </header>
        <div class="navMenu">
            <div class="layoutContainer">
                <div class="is-navbar-container">
                    <div class="is-navbar"> <!-- <-- This is where the gap comes in -->
                        <nav>
                            <ul>
                                <li><a class="is-active" href="@ExecutionContext.GetLink("index")">Home</a></li>
                                <li><a href="@ExecutionContext.GetLink("projects/index")">Projects</a></li>
                                <li><a href="@ExecutionContext.GetLink("docs/index")">Docs</a></li>
                                <li><a href="@ExecutionContext.GetLink("contact/index")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main class="main">
            <div class="layoutContainer">
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="layoutContainer">

                <div class="copyrightFooter">
                    <div class="layoutContainer">
                        <partial name="_footer" />
                    </div>               
                </div>                

            </div>
        </footer>
    </div>
    <script src="assets/js/kube.min.js"></script>    
</body>
</html>
