<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData[Constants.Title] -- LuzFaltex</title>
    <meta name="description" content="LuzFaltex, LLC -- Game Development and Roleplay Services">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="@ExecutionContext.GetLink()" />
    <meta name="og:image" content="@ExecutionContext.GetLink("assets/img/Logo Orange.png", true)">
    <meta name="og:site_name" content="LuzFaltex">
    <meta name="og:title" content="@ViewData[Constants.OpenGraphTitle]">
    <meta name="og:url" content="@ExecutionContext.GetLink(Document, true)">
    <meta name="og:description" content="@ViewData[Constants.OpenGraphDescription]">

    <link rel="stylesheet" href="@ExecutionContext.GetLink("assets/css/luzfaltex.theme.css", true)">

    <script src="https://kit.fontawesome.com/f1d004b53d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="layoutContainer">
                <a class="logo" href="@ExecutionContext.GetLink("index")">
                    <img src="@ExecutionContext.GetLink("assets/img/Logo Orange.png", true)" alt="LuzFaltex" loading="lazy">
                    <h2>&nbsp;LuzFaltex</h2>
                </a>
            </div>
        </header>
        <div class="navMenu">
            <div class="layoutContainer">
                <div class="is-navbar-container">
                    <div class="is-navbar"> <!-- <-- This is where the gap comes in -->
                        <nav>
                            <ul>
                                <li><a class="is-active" href="@ExecutionContext.GetLink("index")">Home</a></li>
                                <li><a href="@ExecutionContext.GetLink("projects/index")">Projects</a></li>
                                <li><a href="@ExecutionContext.GetLink("docs/index")">Docs</a></li>
                                <li><a href="@ExecutionContext.GetLink("contact/index")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main class="main">
            <div class="layoutContainer">
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="layoutContainer">

                <div class="copyrightFooter">
                    <div class="layoutContainer">
                        <partial name="_footer" />
                    </div>               
                </div>                

            </div>
        </footer>
    </div>
    <script src="@ExecutionContext.GetLink("assets/js/kube.min.js", true)"></script>    
</body>
</html>
