@{
    var orangeFoxImage = ExecutionContext.GetLink("assets/img/logoOrange.png");
    var stylesheet = ExecutionContext.GetLink("assets/css/luzfaltex.theme.css");
    var prismStylesheet = ExecutionContext.GetLink("assets/css/prism.css");
    var kubeJs = ExecutionContext.GetLink("assets/js/kube.min.js");
    var prismJs = ExecutionContext.GetLink("assets/js/prism.js");
    var siteJs = ExecutionContext.GetLink("assets/js/site.js");
    var kubeAddonsJs = ExecutionContext.GetLink("assets/js/kube.addons.min.js");

    var favicon = ExecutionContext.GetLink("assets/img/favicon.svg");

    var title = Document.GetString(Constants.StylizedTitle) ?? Document.GetString(Constants.Title);
    var ogTitle = Document.GetString(Constants.OpenGraphTitle) ?? title;
    var ogDescription = Document.GetString(Constants.OpenGraphDescription) ?? string.Empty;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@title -- LuzFaltex</title>
    <meta name="description" content="LuzFaltex, LLC -- Game Development and Roleplay Services">
    <link rel="canonical" href="@ExecutionContext.GetLink()" />
    <meta name="og:image" content="@orangeFoxImage">
    <meta name="og:site_name" content="LuzFaltex">
    <meta name="og:title" content="@ogTitle">
    <meta name="og:url" content="@ExecutionContext.GetLink(Document, true)">
    <meta name="og:description" content="@ogDescription">

    <link rel="icon" href="@favicon">

    <link rel="stylesheet" href="@stylesheet">
    <link rel="stylesheet" href="@prismStylesheet">

    <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/f1d004b53d.js" crossorigin="anonymous"></script>
</head>

@{
    string indexUrl = ExecutionContext.GetLink("index.html");
    string communitiesUrl = ExecutionContext.GetLink("communities.html");
    string docsUrl = ExecutionContext.GetLink("docs/index.html");
    string policiesUrl = ExecutionContext.GetLink("policies/index.html");
    string contactUrl = ExecutionContext.GetLink("contact/index.html");
    string aboutUsUrl = ExecutionContext.GetLink("about.html");
    string privacyPolicyUrl = ExecutionContext.GetLink("policies/privacy.html") + "#cookies";


    var docPath = Document.GetLink();
    string indexActive = (docPath == indexUrl) ? "is-active" : "not-active";
    string communitiesActive = docPath == communitiesUrl ? "is-active" : "not-active";
    string docsActive = (docPath.StartsWith(docsUrl) || docPath.StartsWith(policiesUrl)) ? "is-active" : "not-active";
    string contactActive = docPath.StartsWith(contactUrl) ? "is-active" : "not-active";
    string aboutUsActive = docPath == aboutUsUrl ? "is-active" : "not-active";
}

<body>

    <div id="mobile-nav" class="is-hidden">
        <nav>
            <ul>
                <li><a class="@indexActive" href="@indexUrl">Home</a></li>
                <li><a class="@communitiesActive" href="@communitiesUrl">Communities</a></li>
                <li><a class="@docsActive" href="@docsUrl">Docs</a></li>
                <li><a class="@indexActive" href="@aboutUsUrl" class="is-separator">About Us</a></li>
                <li><a class="@contactActive" href="@contactUrl">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div class="page">
        <header class="header">
            <div class="layoutContainer">
                <a class="logo" href="@indexUrl">
                    <img src="@orangeFoxImage" alt="LuzFaltex" loading="lazy">
                    <h2>LuzFaltex</h2>
                </a>
            </div>
        </header>
        <div class="navMenu">
            <div class="layoutContainer">
                <div class="is-navbar-container">
                    <div id="mobile-nav-menu" class="is-navbar is-hidden-mobile">
                        <nav>
                            <ul>                                
                                <li><a class="@indexActive" href="@indexUrl">Home</a></li>
                                <li><a class="@communitiesActive" href="@communitiesUrl">Communities</a></li>
                                <li><a class="@docsActive" href="@docsUrl">Docs</a></li>
                                <li><a class="@aboutUsActive" href="@aboutUsUrl">About Us</a></li>
                                <li><a class="@contactActive" href="@contactUrl">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="is-navbar-right is-hidden-mobile">
                        <ul class="is-bar">
                            <li><i class="fas fa-sun" title="Light Theme" aria-label="Light Theme" aria-hidden="true"></i></li>
                            <li>
                                <div class="slider">
                                    <input type="checkbox" id="themeSwitch" class="slider">
                                    <label for="themeSwitch" class="toggle-label"></label>
                                </div>
                            </li>
                            <li><i class="fas fa-moon" title="Dark Theme" aria-label="Dark Theme" aria-hidden="true"></i></li>    
                            <li>
                                @if (Document[Constants.EditLink] is string editLink)
                                {
                                    <a class="is-push-right" href="@editLink" target="_blank" rel="noreferer noopener" style="text-decoration: none"><i class="fal fa-pencil-alt" aria-hidden="true"></i> Improve this page</a>
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="is-navbar is-shown-mobile is-right-mobile is-flex-mobile">
                        <button data-kube="toggle"
                                data-target="#mobile-nav-menu"
                                class="button is-tertiary nav-toggle is-push-right-mobile">
                            <span class="icon-kube-menu"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <main class="main">
            <div class="layoutContainer">
                <!-- 
                Under Construction Warning
                <div class="alert is-warning">
                    <div class="is-row">
                        <div class="is-col is-container" style="align-items: center; flex-grow: 0">
                            <i class="fal fa-construction fa-2x" aria-hidden="true" title="Under Construction"></i>
                        </div>
                        <div class="is-col is-container" style="align-items: center;">
                            This site is still under construction! please be patient as we deploy our content.
                        </div>
                    </div>
                </div>
                -->
                @if (Document[Constants.Environment] is Constants.Development)
                {
                    <div class="alert is-warning">
                    <div class="is-row">
                        <div class="is-col is-container" style="align-items: center; flex-grow: 0">
                            <i class="fal fa-construction fa-2x" aria-hidden="true" title="Under Construction"></i>
                        </div>
                        <div class="is-col is-container" style="align-items: center">
                            You are viewing the development version of this website. Site functionality may be broken and documentation may be missing. If you don't know why you're here, go to&nbsp;<a href="https://www.luzfaltex.com">www.luzfaltex.com</a>.
                        </div>
                    </div>
                    </div>
                }
                <div class="alert is-info" id="cookieBanner" data-name="cookieBanner" data-kube="alert" style="display: none;">
                    <div class="is-row">
                        <div class="is-col is-container is-items-middle" style="flex-grow: 0;">
                            <i class="fal fa-cookie-bite fa-2x" aria-hidden="true" title="Cookie Warning"></i>
                        </div>
                        <div class="is-col is-container is-items-middle">
                            Do you consent to us using a cookie to store your theme preference? If you answer no, we will fall back to your browser preference. If you have no stated preference, you get dark theme and the theme feature may not work correctly.
                        </div>
                        <div class="is-col is-container-row is-items-middle" style="justify-content: flex-end; gap: 20px">
                            <button id="consentPrivacy" class="button" onclick="window.location.href='@privacyPolicyUrl';">Privacy Policy</button>
                            <button id="consentAllow" class="button">Allow</button>
                            <button id="consentDeny" class="button is-secondary">Deny</button>
                        </div>
                    </div>                     
                </div>
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="layoutContainer">

                <div class="copyrightFooter">
                    <div class="layoutContainer">
                        <partial name="Shared/_footer" />
                    </div>               
                </div>                

            </div>
        </footer>
    </div>
    <script src="@kubeJs"></script>
    <script src="@kubeAddonsJs"></script>
    <script src="@prismJs"></script>
    <script src="@siteJs"></script>
</body>
</html>
