@{
    var orangeFoxImage = ExecutionContext.GetLink("assets/img/Logo Orange.png", true);
    var stylesheet = ExecutionContext.GetLink("assets/css/luzfaltex.theme.css", true);
    var kubeJs = ExecutionContext.GetLink("assets/js/kube.min.js", true);
    var siteJs = ExecutionContext.GetLink("assets/js/site.js", true);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData[Constants.Title] -- LuzFaltex</title>
    <meta name="description" content="LuzFaltex, LLC -- Game Development and Roleplay Services">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="@ExecutionContext.GetLink()" />
    <meta name="og:image" content="@orangeFoxImage">
    <meta name="og:site_name" content="LuzFaltex">
    <meta name="og:title" content="@ViewData[Constants.OpenGraphTitle]">
    <meta name="og:url" content="@ExecutionContext.GetLink(Document, true)">
    <meta name="og:description" content="@ViewData[Constants.OpenGraphDescription]">

    <link rel="stylesheet" href="@stylesheet">

    <script src="https://kit.fontawesome.com/f1d004b53d.js" crossorigin="anonymous"></script>
</head>

<body data-theme="dark">
    <div class="page">
        <header class="header">
            <div class="layoutContainer">
                <a class="logo" href="@ExecutionContext.GetLink("index")">
                    <img src="@orangeFoxImage" alt="LuzFaltex" loading="lazy">
                    <h2>&nbsp;LuzFaltex</h2>
                </a>
            </div>
        </header>
        <div class="navMenu">
            <div class="layoutContainer">
                <div class="is-navbar-container">
                    <div class="is-navbar">
                        <nav>
                            <ul>
                                @{
                                    string indexUrl = ExecutionContext.GetLink("index.html", true);
                                    string contribUrl = ExecutionContext.GetLink("contributors.html", true);
                                    string projectsUrl = ExecutionContext.GetLink("projects/index.html", true);
                                    string docsUrl = ExecutionContext.GetLink("docs/index.html", true);
                                    string policiesUrl = ExecutionContext.GetLink("policies/index.html", true);
                                    string contactUrl = ExecutionContext.GetLink("contact/index.html", true);


                                    var docPath = Document.GetLink(true);
                                    string indexActive = (docPath == indexUrl || docPath == contribUrl) ? "is-active" : "not-active";
                                    string projectsActive = docPath.StartsWith(@projectsUrl) ? "is-active" : "not-active";
                                    string docsActive = (docPath.StartsWith(docsUrl) || docPath.StartsWith(policiesUrl)) ? "is-active" : "not-active";
                                    string contactActive = docPath.StartsWith(contactUrl) ? "is-active" : "not-active";
                                }
                                
                                <li><a class="@indexActive" href="@indexUrl">Home</a></li>
                                <li><a class="@projectsActive" href="@projectsUrl">Projects</a></li>
                                <li><a class="@docsActive" href="@docsUrl">Docs</a></li>
                                <li><a class="@contactActive" href="@contactUrl">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="is-navbar-right">
                        <ul class="is-bar">
                            <li><i class="fas fa-sun" title="Light Theme" aria-label="Light Theme" aria-hidden="true"></i></li>
                            <li>
                                <div class="slider">
                                    <input type="checkbox" id="themeSwitch" class="slider" checked>
                                    <label for="themeSwitch" class="toggle-label"></label>
                                </div>
                            </li>
                            <li><i class="fas fa-moon" title="Dark Theme" aria-label="Dark Theme Theme" aria-hidden="true"></i></li>    
                            <li>
                                @if (Document[Constants.EditLink] is string editLink)
                                {
                                    <a class="is-push-right" href="@editLink" target="_blank" rel="noreferer noopener" style="text-decoration: none"><i class="fal fa-pencil-alt" aria-hidden="true"></i> Improve this page</a>
                                }
                            </li>
                        </ul>
                    </div>             
                </div>
            </div>
        </div>

        <main class="main">
            <div class="layoutContainer">
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="layoutContainer">

                <div class="copyrightFooter">
                    <div class="layoutContainer">
                        <partial name="_footer" />
                    </div>               
                </div>                

            </div>
        </footer>
    </div>
    <script src="@kubeJs"></script>
    <script src="@siteJs"></script>
</body>
</html>
