---
Title: Logos
OpenGraphDescription: Our logos and other Trade Marks
PoliciesEnableHeaderLink: false
Icon: fab fa-font-awesome-flag
---
<h1>LuzFaltex Logos and Usage</h1>
<p>Below you will find a way to access our trademarks and other logos. Be sure to read the terms before downloading or using any of our trademarks.</p>

@{
    var betaLogo = ExecutionContext.GetLink("assets/img/logoBeta.png");
    var rrLogo = ExecutionContext.GetLink("assets/img/logoRavenRock.png");
    var mcLogo = ExecutionContext.GetLink("assets/img/logoOrange.png"); // Orange logo is used temporarily
    var lfLogoZip = ExecutionContext.GetLink("assets/static/lfLogos.zip");
    var rrLogoZip = ExecutionContext.GetLink("assets/static/rrLogos.zip");
    var mcLogoZip = ""; // Need to commission and package
}

<div class="is-row">
    <div class="is-col">
        <div class="box">
            <a class="is-image-download" href="@lfLogoZip" download aria-label="download" title="download">
                <img src="@betaLogo" style="max-height: 400px;">
                <i class="fas fa-arrow-down" aria-hidden="true"></i>
            </a>
            <hr />
            <p class="is-text-center">LuzFaltex, LLC.</p>
        </div>
    </div>
    <div class="is-col">
        <div class="box">
            <a class="is-image-download" href="@rrLogoZip" download aria-label="download" title="download">
                <img src="@rrLogo" style="max-height: 400px;">
                <i class="fas fa-arrow-down" aria-hidden="true"></i>
            </a>
            <hr />
            <p class="is-text-center">RavenRock RP</p>
        </div>
    </div>
    <!--
    <div class="is-col">
        <div class="box">
            <a class="is-image-download" href="#" download aria-label="download" title="download">
                <img src="@mcLogo" style="max-height: 400px;">
                <i class="fas fa-arrow-down" aria-hidden="true"></i>
            </a>
            <hr />
            <p class="is-text-center">Placeholder</p>
        </div>
    </div>
    -->
</div>

<div class="is-row">
    <div class="is-col">
        <h2>Do</h2>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Use our logos to link to LuzFaltex or any of its projects.</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Use our logos to advertise that your project is run in partnership with LuzFaltex.</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Use our logos in a blog post or news article about LuzFaltex or its projects.</li>
        </ul>
    </div>
    <div class="is-col">
        <h2>Don't</h2>
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Use our logos for or in the logo for your project or product.</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Create a modified version of our logos.</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Integrate our logos into your own logo.</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Use any LuzFaltex artwork without permission.</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Sell any LuzFaltex artwork without permission.</li>
            <li><span class="fa-li"><i class="fas fa-times"></i></span>Change the colors, dimensions, or add your own text/images.</li>
        </ul>
    </div>
</div>
<div class="is-row">
    <div class="is-col">
        <h2>Please <a href="xref:contact-support">contact us</a></h2>
        <ul>
            <li>If you want to use artwork not included in this repository</li>
            <li>If you want to use these images in a video/mainstream media</li>
        </ul>
    </div>
    <div class="is-col">
        <h2>Naming projects and products</h2>
        <p>Please avoid naming your project anything that implies LuzFaltex's endorsement. This also applies to domain names.</p>
    </div>
</div>
<div class="is-row">
    <div class="is-col">
        <h2>Legal</h2>
        <p>LuzFaltex&trade;, the sleeping fox logo, RavenRock RP:&trade;, and the raven logo are trademarks of LuzFaltex, LLC. Copyright &copy; 2014-@DateTime.UtcNow.Year LuzFaltex, LLC.</p>
        @*
        TODO: Enable and replace above paragraph when trademarks finish registration with the USPTO.
        <p>LuzFaltex&reg;, the sleeping fox logo, RavenRock RP&reg;, and the raven logo are exclusive trademarks registered in the United States by LuzFaltex, LLC. Copyright &copy; 2014-@DateTime.UtcNow.Year LuzFaltex, LLC.</p>
        *@     
        <p>No adaption or use of any kind of our registered trademarks or copyrights, or any other contents of this website, is allowed without the express written permission of LuzFaltex, LLC.</p>
    </div>
</div>